@import "tailwindcss";

@theme {
  --color-primary: #3fd411;
  --color-background-light: #f6f8f6;
  --color-background-dark: #142210;
  --font-display: "Public Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
